# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# builds
dist/
build/

# Android
android/build/
android/app/build/
.gradle/
.cxx/

# iOS
ios/build/

# caches
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
